/* COLORS */
/* FONTS */
@font-face {
  font-family: Open-Sans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Open-Sans-Bold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Open-Sans-Italic;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype"); }
/* SIZES */
body {
  margin: 0;
  font-family: Open-Sans-Regular;
  background: #081e4c url("../img/lego-blocks.jpg") no-repeat center;
  background-size: cover; }

.c-btn {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2e74d0;
  color: #ffffff; }
  @media (min-width: 800px) {
    .c-btn {
      margin: auto;
      padding: 1rem 2rem;
      border-radius: 20px; } }
  @media (max-width: 800px) {
    .c-btn {
      font-size: 11px;
      margin: 2rem auto 0 auto;
      padding: 0.7rem 1rem;
      border-radius: 15px; } }

.c-btn:hover {
  background-color: #e2b301;
  color: #000000; }

a {
  text-decoration: none;
  color: #30a12f; }

a:hover, a:active {
  color: #ea1f04; }

a:focus {
  color: #e2b301; }

.c-warning, .c-warning-info {
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  margin: -5rem 0 5rem 0;
  width: 100%;
  text-align: center;
  font-weight: bold; }
  @media (min-width: 800px) {
    .c-warning, .c-warning-info {
      margin: -5rem 0 5rem 0;
      width: 100%;
      padding: 1rem; } }
  @media (max-width: 800px) {
    .c-warning, .c-warning-info {
      margin: -2rem -2rem 2rem -2rem;
      width: calc(100% + 4rem);
      padding: 1rem 2rem; } }

.c-warning {
  background-color: rgba(226, 179, 1, 0.8); }
  @media (max-width: 800px) {
    .c-warning {
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem; } }

.c-warning-info {
  background-color: rgba(226, 179, 1, 0.4); }

.c-header_logo {
  height: auto; }
  @media (min-width: 800px) {
    .c-header_logo {
      width: 15rem;
      margin: 5rem 0 0 2rem; } }
  @media (max-width: 800px) {
    .c-header_logo {
      width: 10rem; } }

/* --- MENU --- */
@media (max-width: 800px) {
  .c-menu-desktop {
    display: none; } }

@media (min-width: 800px) {
  .c-menu-mobile {
    display: none; } }

.c-menu {
  margin: auto; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-menu {
      width: calc(100% - 4rem);
      margin: 0 auto; } }
  @media (min-width: 1361px) {
    .c-menu {
      width: 80rem; } }
  @media (max-width: 800px) {
    .c-menu {
      width: 100%; } }

.c-menu-desktop-nav {
  display: inline-flex;
  border-radius: 30px 30px 0 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.65);
  margin: 5rem auto 0 auto; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-menu-desktop-nav {
      width: 100%; } }
  @media (min-width: 1361px) {
    .c-menu-desktop-nav {
      width: 80rem; } }
  .c-menu-desktop-nav ul {
    padding: 0;
    margin: 0;
    display: inline-flex; }
    .c-menu-desktop-nav ul li {
      list-style-type: none;
      padding: 1.5rem 0; }
    .c-menu-desktop-nav ul li:first-child a {
      border-radius: 30px 0 0 0; }

.c-menu-hamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  align-items: flex-end; }
  @media (min-width: 400px) and (max-width: 800px) {
    .c-menu-hamburger {
      margin: 2rem; } }
  @media (max-width: 400px) {
    .c-menu-hamburger {
      margin: 1rem; } }

.c-menu-hamburger-icon i {
  color: #ffffff;
  font-size: 40px; }

#c-mobile-nav {
  display: none;
  margin: 0 2rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 30px 30px 0 0; }
  #c-mobile-nav ul {
    padding: 0;
    margin: 0; }
    #c-mobile-nav ul li {
      list-style-type: none;
      margin: 0; }
      #c-mobile-nav ul li a {
        box-sizing: border-box;
        display: flex;
        color: #000000;
        text-transform: uppercase;
        width: 100%;
        padding: 1rem 2rem;
        align-items: center; }
    #c-mobile-nav ul li:first-child a {
      padding-top: 2rem; }
    #c-mobile-nav ul li:last-child a {
      padding-bottom: 2rem; }

.c-menu_flag {
  padding: 0; }
  .c-menu_flag a {
    border-radius: 0 30px 0 0;
    display: flex;
    align-items: center; }

.c-menu_line {
  border-right: 1px solid #000000;
  padding: 0.4rem 0; }

nav ul li a, .c-menu_flag a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  color: #000000; }

nav ul li a:hover, .c-menu_flag a:hover, nav ul li a:active, nav ul li a:focus {
  color: #000000;
  font-family: Open-Sans-Bold;
  box-shadow: inset 0 -0.5rem 0 0 rgba(0, 0, 0, 0.4); }

.c-menu_flag-img {
  width: 2rem;
  height: auto;
  margin: 0;
  padding: 0.1rem 0; }
  @media (max-width: 800px) {
    .c-menu_flag-img {
      margin-right: 1rem; } }

footer {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 0.1rem 0;
  margin: 0;
  background-color: #160e06;
  color: #ffffff; }
  footer p {
    margin: 1rem; }
  @media (max-width: 800px) {
    footer {
      font-size: 12px; } }

main {
  box-sizing: border-box;
  background-color: #ffffff; }
  @media (min-width: 801px) and (max-width: 1360px) {
    main {
      width: calc(100% - 4rem); }
      main > h1, main > h2, main > h3, main > h4, main > h5, main > p {
        padding-left: 4rem;
        padding-right: 4rem; } }
  @media (min-width: 1361px) {
    main {
      width: 80rem; }
      main > h1, main > h2, main > h3, main > h4, main > h5, main > p {
        padding-left: 14rem;
        padding-right: 14rem; }
      main > ul {
        padding-left: 16.5rem; } }
  @media (min-width: 800px) {
    main {
      margin: 0 auto 5rem auto;
      padding: 5rem 0;
      border-radius: 0 0 30px 30px; } }
  @media (max-width: 800px) {
    main {
      width: calc(100% - 4rem);
      margin: 0 auto 2rem auto;
      padding: 2rem;
      border-radius: 30px;
      font-size: 14px; }
      main > h1 {
        margin-top: 0; } }
  @media (max-width: 400px) {
    main {
      width: calc(100% - 2rem);
      margin: 0 auto 1rem auto; } }

@media (min-width: 800px) {
  .c-page-first-heading {
    margin-bottom: 3rem; } }

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.c-section-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-section-heading {
      margin: 1rem 4rem; } }
  @media (min-width: 1361px) {
    .c-section-heading {
      margin: 1rem calc(14rem - 1rem) 1rem calc(14rem - 1rem); } }
  @media (max-width: 800px) {
    .c-section-heading {
      justify-content: space-between;
      margin: 0 -1rem 1rem -1rem;
      padding: 0.5rem 1rem; } }
  .c-section-heading h2 {
    margin: 0; }
  .c-section-heading i {
    font-size: 28px; }
    @media (min-width: 800px) {
      .c-section-heading i {
        margin-left: 4rem; } }

.c-section-heading:hover {
  background-color: rgba(0, 0, 0, 0.2); }

#c-parameters {
  display: block; }

#c-parameters, #c-manual, #c-electronics {
  text-align: center; }
  @media (min-width: 901px) and (max-width: 1360px) {
    #c-parameters, #c-manual, #c-electronics {
      margin-left: 6rem;
      margin-right: 6rem; } }
  @media (min-width: 1361px) {
    #c-parameters, #c-manual, #c-electronics {
      margin-left: 14rem;
      margin-right: 14rem;
      padding-left: 2rem; }
      #c-parameters .c-video, #c-manual .c-video, #c-electronics .c-video {
        margin-left: -2rem; } }
  #c-parameters h2, #c-parameters h3, #c-parameters h4, #c-parameters h5, #c-parameters p, #c-parameters ul, #c-parameters ol, #c-manual h2, #c-manual h3, #c-manual h4, #c-manual h5, #c-manual p, #c-manual ul, #c-manual ol, #c-electronics h2, #c-electronics h3, #c-electronics h4, #c-electronics h5, #c-electronics p, #c-electronics ul, #c-electronics ol {
    text-align: left; }
  @media (min-width: 901px) {
    #c-parameters h2, #c-parameters h3, #c-parameters h4, #c-parameters h5, #c-manual h2, #c-manual h3, #c-manual h4, #c-manual h5, #c-electronics h2, #c-electronics h3, #c-electronics h4, #c-electronics h5 {
      margin-left: -2rem; } }
  @media (min-width: 801px) and (max-width: 900px) {
    #c-parameters, #c-manual, #c-electronics {
      margin-left: 2rem;
      margin-right: 2rem; } }

#c-par-open, #c-man-open, #c-ele-open {
  display: block; }

#c-par-close, #c-man-close, #c-ele-close {
  display: none; }

.c-video-wrapper {
  cursor: pointer; }
  @media (min-width: 800px) {
    .c-video-wrapper {
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 800px) {
    .c-video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      height: 0; } }
  .c-video-wrapper .c-video {
    cursor: pointer; }
    @media (min-width: 800px) {
      .c-video-wrapper .c-video {
        width: 40rem;
        height: 23rem; } }
    @media (max-width: 800px) {
      .c-video-wrapper .c-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
  .c-video-wrapper .c-video:hover, .c-video-wrapper .c-video:active, .c-video-wrapper .c-video:focus {
    outline: none; }

@media (min-width: 801px) and (max-width: 1360px) {
  .c-vertical-scroll {
    overflow-x: auto; } }
@media (max-width: 800px) {
  .c-vertical-scroll {
    overflow-x: auto; } }
.c-table {
  box-sizing: border-box;
  border-collapse: collapse; }
  .c-table tr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
    .c-table tr th, .c-table tr td {
      text-align: left;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
  .c-table img {
    cursor: pointer; }

.c-wide_img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  cursor: pointer; }
  @media (min-width: 800px) {
    .c-wide_img {
      padding: 1rem 2rem; } }
  @media (max-width: 800px) {
    .c-wide_img {
      padding: 1rem 0; } }

/* big img on full screen on click */
.c-biggest-img {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000; }

.c-biggest-img_close {
  font-size: 30px;
  color: #ffffff;
  padding: 2rem 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer; }

.c-biggest-img_close:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-radius: 50%; }

.c-biggest-img_img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0 1rem;
  align-self: center; }

.c-section-brick_info {
  display: flex;
  flex-direction: column; }

.c-brick_info-brick_box {
  display: flex; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-brick_info-brick_box {
      flex-direction: column;
      margin-right: 6rem;
      margin-left: 6rem; } }
  @media (min-width: 1361px) {
    .c-brick_info-brick_box {
      margin: 0 14rem 2rem 16rem;
      flex-direction: row; } }
  @media (max-width: 800px) {
    .c-brick_info-brick_box {
      flex-direction: column; } }

@media (min-width: 800px) {
  .c-section_parameters .c-table {
    width: 20rem; } }
@media (max-width: 800px) {
  .c-section_parameters .c-table {
    width: 100%; } }
.c-section_parameters .c-table th, .c-section_parameters .c-table td {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.c-section_manual .c-video {
  margin-bottom: 2rem; }
.c-section_manual .c-table {
  box-sizing: border-box;
  margin-bottom: 2rem; }
  @media (max-width: 800px) {
    .c-section_manual .c-table {
      width: 100%;
      overflow: hidden; } }
  .c-section_manual .c-table th, .c-section_manual .c-table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .c-section_manual .c-table th:first-child, .c-section_manual .c-table td:first-child {
    padding-left: 1rem; }
  .c-section_manual .c-table th:last-child, .c-section_manual .c-table td:last-child {
    padding-right: 1rem; }

@media (min-width: 801px) and (max-width: 1360px) {
  .c-page-text {
    margin-left: 6rem;
    margin-right: 6rem; } }
@media (min-width: 1361px) {
  .c-page-text {
    margin-left: 16rem;
    margin-right: 14rem; } }

.c-intro-heading {
  text-align: center; }
  @media (min-width: 1361px) {
    .c-intro-heading {
      margin-top: 3rem;
      margin-right: 6rem;
      margin-left: 6rem; } }

.c-intro {
  text-align: center; }
  @media (min-width: 1361px) {
    .c-intro {
      margin-right: 6rem;
      margin-left: 6rem;
      margin-bottom: 3rem; } }

.c-cards {
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: flex-start;
  width: 51rem;
  padding: 0 16rem; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-cards {
      display: none; } }
  @media (min-width: 1361px) {
    .c-cards {
      display: flex; } }
  @media (max-width: 800px) {
    .c-cards {
      display: none; } }

.c-card {
  width: 15rem;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 1rem;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000; }
  .c-card img {
    object-fit: cover;
    width: 15rem;
    height: 12rem; }
  .c-card p {
    padding: 1.5rem;
    margin: 0; }

.c-card:hover {
  position: relative;
  top: -1rem;
  color: #000000; }

/* for tablet and low */
.c-bricks-ul {
  padding: 0;
  margin: 0; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-bricks-ul {
      margin-right: 6rem;
      margin-left: 6rem; } }
  @media (min-width: 1361px) {
    .c-bricks-ul {
      display: none; } }
  .c-bricks-ul li {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .c-bricks-ul li a {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 14px;
      padding: 1rem; }
    .c-bricks-ul li a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #000000; }

/* SLIDESHOW on mainpage */
.c-slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #000000; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-slideshow-container {
      width: calc(100% - 4rem);
      height: auto; } }
  @media (min-width: 1361px) {
    .c-slideshow-container {
      width: 50rem;
      height: 33rem; } }
  @media (max-width: 800px) {
    .c-slideshow-container {
      width: 100%;
      height: 20rem; } }

.c-slide {
  display: none; }

.c-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 0; }

.c-slide-img {
  vertical-align: middle;
  object-fit: cover; }
  @media (min-width: 801px) and (max-width: 1360px) {
    .c-slide-img {
      width: 100%;
      height: auto; } }
  @media (min-width: 1361px) {
    .c-slide-img {
      width: 50rem;
      height: 33rem; } }
  @media (max-width: 800px) {
    .c-slide-img {
      width: 100%;
      height: 20rem;
      border-radius: 20px; } }

.c-slide-text {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 1rem;
  padding: 0.8rem 1.5rem;
  text-align: center; }

.c-slide-prev, .c-slide-next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }
  @media (min-width: 800px) {
    .c-slide-prev, .c-slide-next {
      padding: 1.5rem 1.5rem; } }
  @media (max-width: 800px) {
    .c-slide-prev, .c-slide-next {
      padding: 6rem 1.5rem; } }

.c-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.c-slide-prev:hover, .c-slide-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff; }

.c-slideshow-dots {
  text-align: center; }
  @media (max-width: 360px) {
    .c-slideshow-dots {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .c-slideshow-dots img {
    width: 8rem;
    height: 7rem;
    object-fit: cover; }

.c-slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  @media (min-width: 800px) {
    .c-slideshow-dot {
      margin: 0 2px; } }
  @media (max-width: 800px) {
    .c-slideshow-dot {
      margin: 0 1.5rem 2rem 2rem; } }
  @media (max-width: 360px) {
    .c-slideshow-dot {
      margin: 0 auto; } }

.dot-active, .c-slideshow-dot:hover {
  background-color: #717171; }

/* MINI GALLERY - on top of page with the given brick */
@media (min-width: 801px) and (max-width: 1360px) {
  .c-mini-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media (min-width: 1361px) {
  .c-mini-gallery {
    margin-right: 3rem; } }
@media (max-width: 800px) {
  .c-mini-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.c-mini-gallery-small-imgs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5rem;
  flex-wrap: wrap; }
  @media (max-width: 1360px) {
    .c-mini-gallery-small-imgs {
      justify-content: center; } }
  @media (min-width: 1361px) {
    .c-mini-gallery-small-imgs {
      justify-content: space-between; } }
  .c-mini-gallery-small-imgs img {
    opacity: 0.7;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 0.5rem; }
    @media (max-width: 1360px) {
      .c-mini-gallery-small-imgs img {
        margin-right: 0.25rem;
        margin-left: 0.25rem; } }
    @media (max-width: 450px) {
      .c-mini-gallery-small-imgs img {
        width: 30%;
        height: auto; } }
    @media (min-width: 451px) {
      .c-mini-gallery-small-imgs img {
        width: 4.5rem;
        height: 4.5rem; } }
  .c-mini-gallery-small-imgs img:hover {
    opacity: 1; }

.c-mini-gallery-big-img {
  object-fit: cover; }
  @media (max-width: 600px) {
    .c-mini-gallery-big-img {
      width: 100%;
      height: auto; } }
  @media (min-width: 451px) {
    .c-mini-gallery-big-img {
      width: 20rem;
      height: 20rem; } }

/* GALLERY FOR ITEMS FROM TABLE */
#c-gallery-show {
  display: none;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.c-lightbox-img-small {
  width: 8rem;
  height: auto;
  cursor: pointer;
  margin-bottom: 1rem; }

.c-lightbox-img-small:hover, .c-lightbox-img-small:active, .c-lightbox-img-small:focus {
  margin-bottom: 2rem; }

.c-lightbox-close {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  padding: 2rem 2.5rem;
  align-self: flex-end;
  position: fixed;
  top: 1rem;
  right: 1rem; }

.c-lightbox-close:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
