
.c-intro-heading{
  text-align: center;
  @media (min-width: 801px) and (max-width: 1360px) {
  }
  @media (min-width: 1361px){
    margin-top: 3rem;
    margin-right: 6rem;
    margin-left: 6rem;
  }
  @media (min-width: $size-tablet) {
}
  @media (max-width: $size-tablet) {
  }
}
.c-intro{
  text-align: center;

  @media (min-width: 801px) and (max-width: 1360px) {
  }
  @media (min-width: 1361px){
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 3rem;
  }
  @media (min-width: $size-tablet) {
  }
  @media (max-width: $size-tablet) {
  }
}


/* --- SLIDESHOW --- */

.c-slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: $color-slideshow-bcg;
  @media (min-width: 801px) and (max-width: 1360px) {
    width: calc(100% - 4rem);
    height: auto;
  }
  @media (min-width: 1361px){
    width: $size-slideshow-width;
    height: $size-slideshow-height;
  }
  @media (max-width: $size-tablet) {
    width: $size-mobile-slideshow-width;
    height: $size-mobile-slideshow-height;
  }
}

.c-slide {
  display: none
}

.c-slide-number {
  color: $color-text-invert;
  font-size: 12px;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 0;
}

.c-slide-img{
  vertical-align: middle;
  object-fit: cover;
  @media (min-width: 801px) and (max-width: 1360px) {
  width: 100%;
  height: auto;
}
  @media (min-width: 1361px){
    width: $size-slideshow-width;
    height: $size-slideshow-height;
  }
  @media (max-width: $size-tablet) {
    width: $size-mobile-slideshow-width;
    height: $size-mobile-slideshow-height;
    border-radius: 20px;
  }
}

.c-slide-text {
  color: $color-text-invert;
  background-color: $color-slideshow-items-bcg;
  position: absolute;
  bottom: 1rem;
  padding: 0.8rem 1.5rem;
  text-align: center;
}

.c-slide-prev, .c-slide-next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: $color-slideshow-arrows;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  @media (min-width: $size-tablet) {
    padding: 10rem 1.5rem;
  }
  @media (max-width: $size-tablet) {
    padding: 6rem 1.5rem;
  }
}

.c-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.c-slide-prev:hover, .c-slide-next:hover {
  background-color: $color-slideshow-items-bcg;
  color: $color-slideshow-arrows;
}

.c-slideshow-dots{
  text-align: center;
  @media (max-width: 360px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.c-slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: $color-slideshow-dot-nonactive;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  @media (min-width: $size-tablet) {
    margin: 0 2px;
  }
  @media (max-width: $size-tablet) {
    margin: 0 1.5rem 2rem 2rem;
  }
  @media (max-width: 360px){
    margin: 0 auto;
  }
}

.dot-active, .c-slideshow-dot:hover {
  background-color: $color-slideshow-dot-active;
}

/*!* Fading animation *!
.c-slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes c-slide-fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes c-slide-fade {
  from {opacity: .4}
  to {opacity: 1}
}*/

/*!* On smaller screens, decrease text size *!
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}*/


