

/* SLIDESHOW on mainpage */

.c-slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: $color-slideshow-bcg;
  @media (min-width: 801px) and (max-width: 1360px) {
    width: calc(100% - 4rem);
    height: auto;
  }
  @media (min-width: 1361px){
    width: $size-slideshow-width;
    height: $size-slideshow-height;
  }
  @media (max-width: $size-tablet) {
    width: $size-mobile-slideshow-width;
    height: $size-mobile-slideshow-height;
  }
}

.c-slide {
  display: none
}

.c-slide-number {
  color: $color-text-invert;
  font-size: 12px;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 0;
}

.c-slide-img{
  vertical-align: middle;
  object-fit: cover;
  @media (min-width: 801px) and (max-width: 1360px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 1361px){
    width: $size-slideshow-width;
    height: $size-slideshow-height;
  }
  @media (max-width: $size-tablet) {
    width: $size-mobile-slideshow-width;
    height: $size-mobile-slideshow-height;
    border-radius: 20px;
  }
}

.c-slide-text {
  color: $color-text-invert;
  background-color: $color-slideshow-items-bcg;
  position: absolute;
  bottom: 1rem;
  padding: 0.8rem 1.5rem;
  text-align: center;
}

.c-slide-prev, .c-slide-next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: $color-slideshow-arrows;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  @media (min-width: $size-tablet) {
    padding: 1.5rem 1.5rem;
  }
  @media (max-width: $size-tablet) {
    padding: 6rem 1.5rem;
  }
}

.c-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.c-slide-prev:hover, .c-slide-next:hover {
  background-color: $color-slideshow-items-bcg;
  color: $color-slideshow-arrows;
}

.c-slideshow-dots{
  text-align: center;
  @media (max-width: 360px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  img{
    width: 8rem;
    height: 7rem;
    object-fit: cover;
  }
}

.c-slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: $color-slideshow-dot-nonactive;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  @media (min-width: $size-tablet) {
    margin: 0 2px;
  }
  @media (max-width: $size-tablet) {
    margin: 0 1.5rem 2rem 2rem;
  }
  @media (max-width: 360px){
    margin: 0 auto;
  }
}

.dot-active, .c-slideshow-dot:hover {
  background-color: $color-slideshow-dot-active;
}


/* MINI GALLERY - on top of page with the given brick */

.c-mini-gallery{
  @media (min-width: 801px) and (max-width: 1360px) {
    width: $size-mini-gallery-width-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  @media (min-width: 1361px){
    margin-right: 3rem;
  }
  @media (max-width: $size-tablet) {
    width: $size-mini-gallery-width-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.c-mini-gallery-small-imgs{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  @media (max-width: 1360px) {
    justify-content: center;
  }
  @media (min-width: 1361px){
    justify-content: space-between;
  }
  img{
    opacity: 0.7;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 0.5rem;
    @media (max-width: 1360px) {
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    @media (max-width: 450px){
      width: 30%;
      height: auto;
    }
    @media (min-width: 451px){
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  img:hover {
    opacity: 1;
  }
}

.c-mini-gallery-big-img{
  @media (max-width: 600px){
    width: 100%;
    height: auto;
  }
  @media (min-width: 451px){
    width: $size-mini-gallery-width;
    height: 20rem;
  }
  object-fit: cover;
}



/* GALLERY FOR ITEMS FROM TABLE */

#c-gallery-show{
  display: none;
  //display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.c-lightbox-img-small{
  width: 8rem;
  height: auto;
  cursor: pointer;
  margin-bottom: 1rem;
}

.c-lightbox-img-small:hover, .c-lightbox-img-small:active, .c-lightbox-img-small:focus{
  margin-bottom: 2rem;
}
.c-lightbox-close{
  color: $color-biggest-img-close;;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  padding: 2rem 2.5rem;
  align-self: flex-end;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.c-lightbox-close:hover{
  background-color: $color-biggest-img-close-hover-bcg;
  color: $color-biggest-img-close-hover;
  border-radius: 50%;
}