
/* FONTS */
@font-face {
  font-family: Open-Sans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-Bold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Open-Sans-Italic;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

/* SIZES */

$size-mobile: 400px;
$size-tablet: 800px;

$size-page: 80rem;
$size-indent-from-left-border: 14rem;
$size-indent-section-heading: calc(14rem - 1rem);

$size-video-width: 40rem;
$size-video-height: 23rem;
$size-mobile-video-width: 100%;
$size-mobile-video-height: 23rem;

$size-img-width: 20rem;
$size-mobile-img-width: 100%;
$size-mini-gallery-width: 20rem;
$size-mini-gallery-width-mobile: 100%;

$size-content-indent-left: 2rem;
$size-bottom-indent: 2rem;

$size-slideshow-width: 50rem;
$size-slideshow-height: 33rem;
$size-mobile-slideshow-width: 100%;
$size-mobile-slideshow-height: 20rem;


/* delete this > */
@media (min-width: $size-tablet) {
}
@media (max-width: $size-tablet) {
}

@media (min-width: 801px) and (max-width: 1360px) {
}
@media (min-width: 1361px){
}
/* < delete this */

body{
  margin: 0;
  font-family: Open-Sans-Regular;
  background: $color-background url("../img/lego-blocks.jpg") no-repeat center;
  background-size: cover;
  @media (min-width: $size-tablet) {
  }
  @media (max-width: $size-tablet) {
  }
}

.c-btn{            //button
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $color-primary-blue;
  color: $color-text-invert;
  @media (min-width: $size-tablet) {
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 20px;
  }
  @media (max-width: $size-tablet) {
    font-size: 11px;
    margin: 2rem auto 0 auto;
    padding: 0.7rem 1rem;
    border-radius: 15px;
  }
}
.c-btn:hover{
  background-color: $color-primary-yellow;
  color: $color-text-classic;
}

a{                //link
  text-decoration: none;
  color: $color-primary-green;
}
a:hover, a:active{    //hover and when clicking
  color: $color-primary-red;
}
a:focus{              //after click
  color: $color-primary-yellow;
}

.c-warning, .c-warning-info{
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  margin: -5rem 0 5rem 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  @media (min-width: $size-tablet) {
    margin: -5rem 0 5rem 0;
    width: 100%;
    padding: 1rem;
  }
  @media (max-width: $size-tablet) {
    margin: -2rem -2rem 2rem -2rem;
    width: calc(100% + 4rem);
    padding: 1rem 2rem;
  }

}

.c-warning{
  background-color: $color-warning-bcg;
  @media (min-width: $size-tablet) {
  }
  @media (max-width: $size-tablet) {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }
}

.c-warning-info{
  background-color: $color-warning-info-bcg;
}




/* ----------------- trying to do gallery below -------------------------*/


.c-lightbox-starter{
  width: 10rem;
  cursor: pointer;
}

.c-lightbox-wrapper{
  z-index: 999;
  background-color: #081e4c;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: none;
}

.c-lightbox-close{
  color: white;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  align-self: flex-end;
  padding: 3rem 4rem;
  position: fixed;
  top: 0;
  right: 0;
}
.c-lightbox-close:hover{
  background-color: #e2b301;
}

.c-lightbox-img-big{
  width: 50rem;
  height: 30rem;
  display: none;
}

.c-lightbox-img-big-wrapper{
  box-sizing: border-box;
  width: 60rem;
  height: 30rem;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-lightbox-prev, .c-lightbox-next{
  color: white;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
}
.c-lightbox-prev:hover, .c-lightbox-next:hover{
  background-color: #e2b301;
}

.c-lightbox-prev{
}

.c-lightbox-next{
}

.c-lightbox-images-small-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50rem;    //according to big image width
  margin: 2rem auto;
  //background-color: #30a12f;
}

.c-lightbox-img-small{
  width: 8rem;
  height: auto;
}
.c-lightbox-img-small:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








